.App {
  text-align: center;
}

.navbarTop {
  background-color: #ef486c;
}

.menuItem {
  color: white !important;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 600 !important;
}